* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--primary-color);
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary-color: #6366F1;

  --gray-700: #3F3F46;
  --gray-900: #111827;
  --space-grid: 20px;
}

h1 {
  font-size: 36px;
}


.main_layout {
  display: grid;
  background-color: var(--gray-900);
  min-height: 100vh;
  gap: var(--space-grid);
  padding: var(--space-grid);
  grid-template-rows: 50px 50px;
  grid-auto-rows: auto;
  grid-template-areas: 
    "title title"
    "new_task new_task"
    "todo_list done_list";
}


.grid_title {
  grid-area: title;
}
.grid_new_task {
  grid-area: new_task;
}

.grid_todo_list {
  grid-area: todo_list;
}

.grid_done_list {
  grid-area: done_list;
}



.main_title {
  font-size: 36px;
}


.form_add_task {
  display: flex;
  justify-content: space-between;
}

.form_add_task__input_add_task {
  flex: 1;
  background-color: var(--gray-700);
  padding: 10px;
  border: solid var(--gray-700) 1px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

.form_add_task__submit {
  background-color: var(--gray-700);
  padding: 10px;
  border: solid var(--gray-700) 1px;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}


.task_list_title {
  margin-bottom: 10px;
}

.task_list__list_item {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--gray-700);
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task_list__list_item__content {
  flex: 1;
  margin-left: 20px;
}



.padding-10px {
  padding: 10px;
}



@media screen and (max-width: 600px){
  .main_layout {
    grid-template-areas: 
      "title"
      "new_task"
      "todo_list"
      "done_list";
  }
}