body {
  min-height: 100vh;
}

li {
  cursor: pointer;
  user-select: none;
}

li:hover{
  box-shadow: 0 0 1px rgba(50,251,226,.6),0 0 3px rgba(50,251,226,.5),0 0 .5rem rgba(50,251,226,.3),0 0 2rem rgba(50,251,226,.2);
}