#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.task{
  background-color: gray;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
}

div.task svg{
  height: 30px;
  margin-right: 5px;
  
}